# Compiled shaders
*.spv

# misc ignores
compile_commands.json
.cache/

# vulkan stuff
/vkconfig-log.txt

# CMake ignores
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# C++ ignores
## Prerequisites
*.d

## Compiled Object files
*.slo
*.lo
*.o

## Precompiled Headers
*.gch
*.pch

## Compiled Dynamic libraries
*.so
*.dylib
*.dll

## Fortran module files
*.mod
*.smod

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

## Executables
*.exe
*.out
*.app
